@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&display=swap');

/* colors */
:root{
    --primary:#0f1b4a;
    --dark:#0f0937;
    --secondary:#03031e;;
    --info:skyblue;
    --ternary:gray;
    --pure:white;
    --fade:lightblue;
    --footer:lightgray;
    --danger:orangered;
    --sucess:cyan;


}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing:antialiased;
    /* height: 5000px; */
}

h1,h2,h3,h4,h5,h6{
    margin: 0%;
    line-break: 1;
  
}

.container{
    max-width:1140px;
    margin: 0 auto;
}
nav{
    background: var(--secondary);
    padding: 1.6rem 0;
}
nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .inner .logo{
    color: var(--pure);
    text-transform: uppercase;
    font-size: px;
    letter-spacing: 1px;
    font-weight: 500;

}

nav .inner button{
    background:#0f1b4a;
    border: none;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 15px;
    border-radius: 4px;
}
section .profile{
    background-color: var(--secondary);
     flex: 2;
     display: flex;
    align-items: center;
    margin-top:6px;
    padding: 1rem;
    clip-path: polygon(0 0 ,100% 0,100% 80%,25% 100%,0 80%);
    padding-bottom: 3rem;
   margin-top:2rem;
    
}
.cd-word-wrapper{
    border-bottom:2px solid var(--info);

}
.cd-word-wrapper:hover{
    border-bottom:4px solid var(--danger);

}
section .profile .left{
    flex: 2;
    display: flex;
    align-items: center;

}
section .profile .right{
    flex: 1;
}
section .profile .left h2{
    color: var(--pure);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}
section .profile .left p{
    color: var(--pure);
    font-size: 14px;

}
section .profile .left img{
    width:90px;
    height: 100px;
    border-radius:50% ;
    object-fit: cover;
    
}
section .profile .left .avatar_block{
    position: relative;
    margin-right: 2rem;
}
/* section .profile .left .avatar_block span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    background:var(--pure);
    width:32px;
    height: 32px;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32,41,54,0.05);
    cursor: pointer;
} */

section .profile .right ul.contact{
 list-style-type: none;
 margin-bottom: 1.6rem;
}
section .profile .right ul.contact li{
    color:var(--pure);
    margin-bottom: .7rem;
    font-size: 14px;
}
section .profile .right ul.contact  li i{
    font-size: 18px;
    margin-right: 0.3rem;
}
section .profile .right ul.social  {
    display: flex;
    align-items: center;
     
}
section .profile .right ul.social li{
  list-style-type:none ;
  
}

section .profile .right ul.social li a{
    display: inline-block;
    width:100px;
    height:36px;
    text-decoration: none;
    color: var(--pure);
}

section .profile .right ul.social li:nth-child(1) a{
    color: var(--fade);
}
section .profile .right ul.social li:nth-child(2) a{
     color: var(--info);
 }
 section .profile .right ul.social li:nth-child(3) a{
    color: var(--sucess);
 }
 .section-heading{
     font-size: 16px;
     font-weight: 500;
     color: var(--pure);
     margin-bottom:3rem ;
     text-shadow: 0 0 1px rgba(40,54, 95,0.1);
     text-transform: uppercase;
     position: relative;
    }
    section{
        padding:3rem;
        color: var(--pure);

    }
    main{
        background: var(--primary);
    }
    .section-heading::after{
        content: '';
        height: 3px;
        width: 80px;
        position: absolute;
        top:20px;
        left:0;
        border-bottom: 2px dotted var(--danger);
    }
    section.about .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:16rem;
    }
    section.about h2{
        color: var(--fade);
        line-height: 22px;
        font-size: 30px;
        margin-bottom: 1.6rem;
    }
    section.about .content p{
        color: var(--ternary);
        font-size: 14px;
        line-height: 1.6;
        letter-spacing: 0.1px;
        margin-bottom: 1rem;
    }
    section.about .content .left button{
        background: rgba(77,121,246,0.1);
        color: var(--info);
        padding: 4px 8px;
        font-size: 12px;
        border:none;
        line-height: 24px;
        outline: none;
        cursor: pointer;
    }

    
    section.about .content .right p{
        line-height: 1.6;
        font-size: 14px;
        color: var(--ternary);
        letter-spacing: 0.1px;
        margin-bottom:1rem ;
    }
    section.about .content .right p span:nth-child(1){
         width: 130px;
         float: left;
         font-weight: 600;
         padding-right:10px ;
         display: block;
         position: relative;
    }
    section.about .content .right p span:nth-child(2){
        padding-left: 150px;
        display: block;
    }
    section.about .content .right p span:nth-child(1):after{
        content: ":";
        position: absolute;
        right: 0;
        top:0;
        font-size:16px;
        font-weight: 800;
    }
    section .skills .content{
        display: grid;
        grid-template-columns:  1fr 1fr;
        align-items: center;
    }
    section .skills .content .left{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section .skills .content .left .heading h5{
           margin-bottom: 2rem;
           font-size: 16px;
           color: var(--info);
    }
    section .skills .content .left .heading i{
        color: var(--fade);
        
    }
    section .skills .content .left p{
        font-size: 14px;
        color: var(--ternary);
        line-height: 1.7;
    }
    section .skills .content .left .center{
        color: var(--ternary);

    }
    section .skills .content .left  .item{
        margin:2.5rem;
        margin-left: 15px;
        position: relative;
    }
    section .skills .content .left .timeline-wrapper{
        border-left: 2px dotted var(--fade);
    }
    section .skills .content .left  .item::after{
        content: "";
        position: absolute;
        left:0;
        top:5px;
        width:10px;
        height: 10px;
        border:2px solid var(--info);
        border-radius: 50%;
        margin-left: -23px;
        margin-bottom: 10px;
    }

    section .skills .skills-wrapper .skill-box h4{
        color: var(--ternary);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 1rem;
    }
    section .skills .skills-wrapper .skill-box{
        margin-bottom: 4rem;
    }
    section .skills .skills-wrapper .skill-box .progress-wrap{
        background: var(--dark);
        height:6px;
        width: 100%;
        box-shadow: 0px 0px 1px 0.25px #4d79f6;
        border:2px solid var(--dark);
        border-radius: 10px;
       
       
    }
    section .skills .skills-wrapper .skill-box .progress-wrap .progress-bar{
        display: block;
        height:100%;
        background: var(--info);
         width: 0%;
        position: relative;
        transition: all 1s ease-in-out;
    }

    section .skills .skills-wrapper .skill-box .progress-wrap .progress-bar .tooltip{
        position: absolute;
        right:-15px;
        top:-30px;
        margin-bottom: 10px;
        color: var(--ternary);
        font-size: 17px;
        text-transform: uppercase;
    }
section .counter-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    background-color: var(--secondary);
}

section .counter-wrapper  .counter-data{
    display: flex;
align-items: center;
margin-left: 2rem;
}
section .counter-wrapper .icon2{
    font-size: 42px;
    margin-right: 15px;
}
section .counter-wrapper h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--fade);
}
section .counter-wrapper h5{
    font-size: 14px;
    color: var(--fade);
}
.work .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap:60px;
}
.work .wrapper .portfolio .tabs ul{
    list-style: none;
    display: flex;
  
    justify-content: space-between;
}
.work .wrapper .portfolio .tabs ul li a{
    color: var(--fade);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding:10px 15px;
    letter-spacing: 2px;
}
.work .wrapper .portfolio .tabs ul li a.active{
     transition: all 0.5s ease-in-out;
    color: var(--info);
    border-color:  var(--info);
}
.work .wrapper .portfolio .portfolio-wrapper{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.work .wrapper .portfolio .portfolio-wrapper a img{
    height: 90%;
    width: 90%;
    display: block;
    object-fit: cover;
}
.work .wrapper .slider-wrapper .icon-wrap{
    font-size: 26px;
    text-align: center;
}
.work .wrapper .slider-wrapper .slider .slide p{
    color: var(--ternary);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.work .wrapper .slider-wrapper .slider .slide  img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;

}
.work .wrapper .slider-wrapper .slider .slide  h2{
    font-size: 16px;
    color: var(--info);
    margin-top: 1rem;
}
.work .wrapper .slider-wrapper .slider .slide  h6{
    
    color: var(--ternary);
    margin-top: 1rem;
}
.work .wrapper .slider-wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.partner .brands-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.partner .brands-wrapper img{
    height: 50px;
    width:50px;
    object-fit: cover;
}
.contact .contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.contact .contact-wrapper .wrap{
    display: flex;
    flex-direction: column;
}

.contact .contact-wrapper strong{
    font-size: 50px;
   color:var(--pure);
}
.contact .contact-wrapper h4{
    font-size: 16px;
    font-weight: 500;
    color: var(--info);
    margin-top: 1rem;
}
.contact .contact-wrapper span{
    margin-top: 1rem;
    line-height: 1.6;
}

  footer{
    background-color: var(--secondary);
   padding:2rem;
    color: var(--pure);
    font-size: 16px;
    text-align: center;
}

/* media queries */

@media(max-width:1200px){
    .container{
        max-width: 90%;
    }
}
@media(max-width:1024px){
   
    section.about .content{
        display: block;
    }
    section.about .content .right{
        margin-top:3rem;
    }
    section .work .wrapper{
        display: block;
    }
    section .work .wrapper .slider-wrapper{
        margin-bottom: 8rem;
    }
}
@media(max-width:800px){
 section .profile{
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }
    section .profile .left{
        margin-bottom: 2rem;
    }
    section .profile .right{
      margin-left: 3rem;
    }
    section .skills .content{
        display: block;
       
    }
   
    section .counter-wrapper  .counter-data{
        display: block;
    }
    .contact .contact-wrapper {
        display: block;
        text-align: center;
    }
     
}
@media(max-width:600px){
    section .counter-wrapper {
        display: block;
        text-align: center;
        
    }
    section .counter-wrapper .wrap{
        margin-top: 2rem;
    }
     
    section.about .content .right p{
        line-height: 1.2;
        font-size: 12px;
        color: var(--ternary);
        letter-spacing: 0.1px;
        margin-bottom:1rem ;
    }
    section .skills .content .left{
        grid-gap: 60px;
    }
}
@media(max-width:500px){
    section .profile .left{
        text-align: center;
       display: block;
         align-self: flex-start;
    }
    section .profile .left h2{
        margin-top: 2rem;
        margin-left: 2rem;
    }
    section .profile .left img{
         margin-left: 4rem;
    }
    section .profile .right{
        margin-top: 2rem;
         margin-left: 0% !important;
    }
    section.about .content .right p{
        line-height: 1.6;
         display: flex;
         flex-direction: column;
        color: var(--ternary);
        letter-spacing: 0.1px;
        margin-bottom:1rem ;
    }
    section.about .content .right p span:nth-child(1){
        
        float: left;
        font-weight: 800;
       border-bottom: 1px solid var(--info);
        display: flex;
        flex-direction: column;
        position: relative;
   }
   section.about .content .right p span:nth-child(2){
       padding-left: 10px;
       display: block;
       flex-direction: column;
     margin-top: 1rem;
   }
   section.about .content .right p span:nth-child(1):after{
       content: "";
       position: absolute;
       right: 0;
       margin-top:1rem ;
       
   }
   section .skills .content .left{
    grid-gap: 20px;
}
.work .wrapper .portfolio .tabs ul li a{
    font-size: 12px;
    padding: 18px 5px;
}
}